<template>
<div>
  <textarea v-model="text"></textarea>
  <button @click="selectType('Chat')">Chat</button>
  <button @click="selectType('Call')">Call</button>
  <button @click="selectType('Cafee')">Cafee</button>
  <button @click="selectType('BEER')">BEER</button>
  <button @click="selectType('Meeting')">Meeting</button>
  <button type="submit" @click="addNote()">Submit</button>
  <div>{{type}}</div>
</div>
</template>

<script>

export default {
  name: 'EditForm',
  props: {
    addNoteEvent: Function
  },
  methods: {
    selectType: function (type) {
      this.type = type;
    },
    addNote: function (){
      const note = {text: this.text, type: this.type}
      console.log(note)
      this.addNoteEvent(note)
      this.resetNote()
    },
    resetNote: function (){
      this.text = ''
      this.type = ''
    }
  },
  data() {
    return {
      text: '',
      type: '',
    };
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
