<template>
<div>
  <div>{{ text }} - {{type}}</div>
  <button @click="deleteNote">Delete note</button>
</div>
</template>

<script>
export default {
  name: 'Feed',
  props: {
    text: String,
    type: String,
    id: Number,
    delete: Function
  },
  methods: {
    deleteNote: function () {
      this.delete(this.id)
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
