<template>
  <div>
    <EditForm :add-note-event="addNote"></EditForm>
      <li v-for="note in notes" :key="note.id">
       <Feed :text="note.text" :type="note.type" :id="note.id" :delete="deleteNote"></Feed>
      </li>
  </div>
</template>

<script>
import EditForm from './EditForm.vue'
import Feed from './Feed.vue'
export default {
  name: 'MainView',
  components: {
    EditForm,
    Feed
  },
  props: {
    msg: String
  },
  data() {
    return {
      notes: [],
    };
  },
  methods: {
    addNote: function (note) {
      this.notes.push({...note, id: new Date().getTime()})
      // console.log('recieved note', this.notes)
    },
    deleteNote: function (id) {
      console.log(id)
      console.log(id)
      this.notes.splice(this.notes.findIndex(note => note.id === id), 1)
      // console.log('recieved note', this.notes)
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
